.buscador-container {
  position: sticky;
  top: 125px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 350px;
  border-radius: 8px;
  border: 2px solid var(--secondary-shadow);
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 5px 5px 4px var(--secondary-shadow);
}

.buscador-avanzada {
  display: none;
}
.buscador-avanzada:hover {
  filter: brightness(2);
  filter: contrast(2);
}
.buscador-input_wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.buscador-input {
  width: 100%;
  background-color: var(--hover-color);
  margin: 5px 5px 0 5px;
  border-radius: 8px;
  padding-right: 30px;
  padding-left: 10px;
}
.buscador-input_type {
  display: flex;
  width: 100%;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 3px;
  gap: 5px;
  font-size: 11px;
}
.search_icon {
  position: absolute;
  top: 15%;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  transform: rotate(90deg);
}
.search_icon:hover {
  filter: brightness(2);
  filter: contrast(2);
}
.buscador {
  display: flex;
  border-bottom: 1px solid var(--secondary-shadow);
  padding: 7px 0 7px 3px;
}
.buscador-checks {
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 10px;
}
.buscador-checks_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}
.buscador-item {
  justify-content: center;
  align-items: center;
  gap: 25px;
}
/* .buscador-item>label {
  align-self: flex-start;
  display: flex;
  align-items: center;
} */

.buscador-fav {
  gap: 5px;
  border-bottom: none;
  padding: 0;
}
.buscador-datalabel {
  /* margin-right: 40px;
  width: fit-content; */
  flex: 1;

  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
}
.buscador-dataoptions {
  flex: 1;
  flex-grow: 2;
  display: block;
}
.buscador-dataoptions input {
  margin-right: 4px;
}
.buscador-dataoptions label {
  margin-top: 4px;
  margin-right: 5px;
  line-height: 1.5;
}
.boton-buscar {
  display: flex;
  gap: 10px;
  padding: 5px;
  justify-content: space-between;
}
.boton-buscar label {
  font-size: 11px;
  width: fit-content;
  margin-top: auto;
  display: flex;
  text-align: end;
  align-items: center;
  gap: 5px;
}
.chevrons-icon {
  display: none;
}
@media (max-width: 520px) {
  .buscador-container {
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 40px;
    margin-right: 0;
    display: flex;
    margin-left: auto;
    height: 36px;
    border: none;
    border-radius: 0;
    background-color: var(--secondary-color);
    box-shadow: none;
  }
  .buscador-input {
    margin: 0 5px;
    height: 30px;
    align-self: center;
    width: calc(100% - 130px);
  }
  .buscador-input_wrapper {
    padding: 2px 5px 0 0;
  }
  .buscador {
    display: none;
    border-bottom: 1px solid var(--hover-color);
  }
  .buscador-checks {
    display: none;
  }
  .buscador-item {
    display: none;
  }
  .boton-buscar {
    display: none;
  }
  .buscador-fav {
    border-bottom: none;
  }
  .buscador-avanzada {
    width: 60px;
    display: inline;
    color: white;
    font-size: 12px;
    margin: auto 0 0 0;
    text-align: center;
    border-color: white;
  }
  .buscador-dataoptions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .search_icon {
    right: 75px;
    top: 6px;
  }
  .buscador-input_type {
    display: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 70px !important;
    font-size: 0.6rem !important;
  }
  .show-advanced {
    display: flex;
    background-color: var(--secondary-color);
    color: white;
    font-size: 0.7rem;
    padding: 7px 10px;
  }

  .boton-buscar label {
    margin-left: auto;
  }
  .chevrons-icon {
    font-size: 22px;
    display: inline;
    /* margin-left: auto; */
    margin-top: auto;
  }
  .chevrons-icon:hover {
    filter: brightness(2);
    filter: contrast(2);
  }
}
@media (min-width: 521px) and (max-width: 991px) {
  .buscador-container {
    font-size: 0.75rem;
  }
  .boton-buscar label {
    font-size: 0.5rem;
  }
  .search_icon {
    top: 18%;
    font-size: 17px;
  }
}
