.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--secondary-shadow);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 95%;
}
.border-card {
  display: flex;
  justify-content: start;
  width: 100%;
  flex-direction: column;
  height: auto;
}
.div-image {
  flex-basis: 20%;
  flex-grow: 1;

  width: 100%;

  border: solid;
  border-radius: 8px;
  max-height: 300px;
  margin: 0;
}
.card img {
  max-height: 300px;
}
.div-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #f1670469;
}
.title-artist_container {
  flex-basis: 100%;
  margin-top: 1%;
  align-items: center;
  flex-grow: 1;
  max-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.detalles_container {
  position: relative;

  flex-grow: 1;
  max-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 1%;
  flex-basis: 100%;
  margin-top: 5%;
}
.card h3 {
  margin-top: 1%;
  text-align: center;
  margin-left: 2%;
  font-size: 1.2rem;
}
.card p {
  margin-bottom: 7px;

  text-align: right;
  font-weight: bold;
  font-size: .8rem;
  margin-left: 2%;
  width: max-content;
}
.card h2 {
  margin-left: 2%;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
}
.detalles-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}
.icon-container {
  position: absolute;
  display: flex;
  left: 0;
  gap: 10px;
  right: auto;
  font-size: .9rem;
  bottom: 0;
}

.data-label_container {
  box-shadow: -4px 4px 3px var(--secondary-shadow);
  position: absolute;
  z-index: 17;
  left: 13px;
  top: 0;
  width: 45px;
  padding: 12px 0 5px;
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 12px;
  background-color: var(--data_label-color);
}

.card {
  opacity: 0;
  transform: translateX(-100px);
  animation: appearCard 0.5s ease-in-out forwards;
}

.esHoy {
  background-color: var(--event-color);
}
.data-label_weekday {
  text-transform: uppercase;
  padding: 6px 0 2px;
  font-size: 11px;
}
.data-label_day {
  padding: 0;
  font-size: 18px;
}
.data-label_month {
  padding: 3px 0 0;
  text-transform: uppercase;
  font-size: 11px;
}
.data-label_esHoy {
  padding: 20px 0 10px;
  display: block;
  font-size: 14px;
}

.status::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  opacity: 0;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 900;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: scaleDown 0.3s 2s forwards, bounce 0.1s 2.3s forwards;
}
@keyframes scaleDown {
  from {
    transform: translate(-50%, -50%) rotate(-30deg) scale(2);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) rotate(-30deg) scale(1);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translate(-50%, -50%) rotate(-30deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-30deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-30deg) scale(1);
  }
}
.soldout::before {
  content: "ESGOTADO";
  background-color: var(--soldout-color);
  letter-spacing: 0.2em;
}
.delayed::before {
  letter-spacing: 0.2em;
  content: "APRAZADO";
  background-color: var(--delayed-color);
}
.cancelled::before {
  letter-spacing: 0.2em;
  content: "CANCELADO";
  background-color: var(--cancelled-color);
}
.new_date::before {
  content: "NOVA  DATA";
  background-color: var(--new_date-color);
  letter-spacing: 0.2em;
}

.fecha-end {
  margin: 0;
  font-weight: bold;
}
.background-logo {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  min-height: 15vh;
  background-image: url("../../../public/assets/noimage_logo.png");
  background-repeat: space;
  background-size: 30px 35px;
}
@keyframes appearCard {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.card-comments {
  font-weight: bold;
  color: var(--link-color);
  margin-left: auto;
}

.card a {
  text-decoration: none;
}

.div-image:hover {
  border-color: var(--event-color);
  filter: contrast(150%);
}

.div_relleno {
  display: none;
}

.mas-info {
  transform: scale(1.5);
  color: var(--icon-color);
}
.mas-info:hover {
  cursor: pointer;
  transform: scale(1.7);
  filter: brightness(2) contrast(2);
}
.favorito-container {
  cursor: pointer;
}
.favorito-tooltip {
  width: max-content;
  display: none;
  position: absolute;
  top: -5px;
  right: 0px;
  transform: translatey(-100%);
  background-color: var(--icon-color);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
}

.favorito-container:hover .favorito-tooltip {
  display: block;
}

.gratuito {
  color: #0c5460;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  transition: text-shadow 0.3s ease-in-out;
}
.hora-icon {
  margin-bottom: 4px;
  color: var(--icon-color);
}
.hoy {
  text-align: right;
}

.gratuito:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 520px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 2px 2px 4px var(--secondary-shadow);
    padding: 13px;
    margin: 20px 0 0 0;
    text-align: center;
    width: 95%;
  }
  .dias-faltantes {
    display: none;
  }
  .evento-genre {
    display: none;
  }
  .div_relleno {
    display: block;
  }
  .icon-container {
    position: relative;
    margin-left: auto;
    font-size: 0.8rem;
  }
  .evento-hora {
    margin-left: auto;
  }
  .detalles-site {
    justify-content: left;
  }
  .border-card {
    flex-direction: column;
    height: auto;
  }

  .div-image {
    max-height: 200px;
    margin: 0;
  }
  .card img {
    max-height: 180px;
    border-radius: 5px;
  }

  .title-artist_container {
    flex-basis: 100%;
    margin-top: 1%;
  }
  .detalles_container {
    padding-top: 5px;
    flex-basis: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 55%) auto;
    grid-template-rows: auto auto auto;
    border-top: 1px solid var(--secondary-shadow);
    width: 100%;
  }
  .card h3 {
    text-align: center;
    align-self: center;
    font-size: 1.2rem;
  }
  .card p {
    font-size: 13px;

    max-width: 100%;
    margin-bottom: 3px;
    text-align: left;
  }
  .card h2 {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
  }
  .long-title {
    font-size: 10vw !important;
  }
  .mas-info {
    left: 35px;
  }
  .data-label_container {
    left: 8px;
  }
  .background-logo {
    min-height: 20vh;
  }
  .card-nocomments {
    margin-left: auto;
  }
}

@media (min-width: 721px) {
  .card {
    max-width: 85%;
  }
  .div-image {
    max-height: 200px;
    margin: 0px;
    flex-basis: 30%;
  }
  .icon-container{
    font-size: 1rem;
    gap: 20px;
  }
}
@media (min-width: 1015px) {
  .card {
    position: relative;
    border: 2px solid var(--secondary-color);
    box-shadow: 5px 5px 4px var(--secondary-shadow);
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }
  .border-card {
    flex-direction: row;

    height: 200px;
  }
  
  .detalles_container {
    margin-top: 0;
    flex-basis: 35%;
  }
  .card h2 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: 1%;
    text-align: start;
  }

  .card h3 {
    

    text-align: start;
    
    font-size: 1.2rem;
  }

  

  .title-artist_container {
    flex-basis: 30%;
    align-items: start;
  }
  .icon-container {
    position: relative;
    margin-top: auto;

    justify-content: flex-end;
  }

 
  .card p {
    font-size: 0.75rem;
  }
  
  
}

@media (min-width: 1200px) {
  .card h2 {
    font-size: 1.7rem;
  }
  .status::before {
    font-size: 3em;
  }
  .card p {
    font-size: 0.85rem;
    text-align: right;
  }
  .div-image{
    margin: 10px;
  }
}
