.borrador {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--secondary-shadow);
  padding: 20px;
  width: 98%;
  max-width: 600px;
}
.borrador h3 {
  margin-top: 1%;
  text-align: center;
  margin-left: 2%;
  font-size: 1.2rem;
}
.borrador p {
  margin-bottom: 3px;
  flex: 1;
  text-align: right;
  font-weight: bold;
  font-size: 0.8rem;

  width: fit-content;
}
.borrador h2 {
  margin-left: 2%;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
}
@media (max-width: 520px) {
  .borrador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 2px 2px 4px var(--secondary-shadow);
    padding: 13px;
    margin: 20px 0 0 0;
    text-align: center;
    max-width: none;
  }
  
  .borrador img {
    max-height: 180px;
  }

  
  .borrador h3 {
    text-align: center;
    align-self: center;
    font-size: 1.2rem;
  }
  .borrador p {
    text-align: unset;
    font-size: 12px;
    flex: none;
    margin-bottom: 5px;
  }
  .borrador h2 {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
  }
  
}

@media (min-width: 721px) {
  .borrador {
    max-width: 85%;
  }
 
}

@media (min-width: 1015px) {
  .borrador {
    position: relative;
    border: 2px solid var(--secondary-color);
    box-shadow: 5px 5px 4px var(--secondary-shadow);
    padding: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  .borrador h2 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: 1%;
    text-align: start;
  }

  .borrador h3 {
    text-align: start;
    font-size: 1.2rem;
  }

  
  .borrador p {
    font-size: 0.75rem;
  }
}

@media (min-width: 1200px) {
  
}
