.event-day {
  color: var(--event-color);
  border-radius: 50%;
  font-weight: 700;
}

.calendar-container {
  position: sticky;
  top: 325px;
}

.menu-toggle.custom-toggle {
  position: fixed;
  display: flex;
  height: 40px;
  align-items: center;
  top: 0px;
  padding: 0;
  right: 50px;
  z-index: 1052;
  padding-left: 0;
  background-color: transparent;
  font-size: 1.8rem;
  border: none;
  border-radius: 0;
  color: var(--event-color);
}


.btn:focus {
  box-shadow: none;
}
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.slide-menu {
  position: fixed;
  top: 40px;
  backdrop-filter: blur(10px);
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-shadow) !important;
  z-index: 998;
  overflow-y: auto;
  padding: 20px;
}

.calendar {
  display: none;
  margin-left: auto;
  margin-right: auto;
  color: brown;
}
.react-calendar {
  font-family: inherit;
  border-radius: 8px;
  border-color: var(--secondary-color);
  border-width: 2px;
  box-shadow: 5px 5px 4px var(--secondary-shadow);
}
.react-calendar__tile--now {
  border-radius: 50%;
  color: rgb(0, 0, 0);
  position: relative;
  background: white;
}

.react-calendar__tile--now::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background: var(--secondary-shadow);
  border-radius: 50%;
}
.react-calendar__tile--active {
  background-color: none; /* Cambia el color de fondo de las celdas activas */
  color: #ffffff; /* Cambia el color del texto en las celdas activas */
}

.react-calendar__tile--inactive {
  background-color: white;
  opacity: 0.5; /* Reduce la opacidad de las celdas inactivas */
  cursor: not-allowed; /* Cambia el cursor cuando se pasa sobre las celdas inactivas */
}

@media (max-width: 520px) {
  .react-calendar {
    width: 100%;
  }
}

@media (min-width: 992px) and (min-height: 700px) {
  .calendar {
    display: block;
  }
  .menu-toggle.custom-toggle {
    display: none;
  }
}
@media (min-width: 991px) and (max-height: 699px) {
  .menu-toggle.custom-toggle {
    top: 20px;
    right: 75px;
  }
}
