.event-day {
  color: var(--event-color);
  border-radius: 50%;
  font-weight: 700;
}

.calendar-container {
  position: relative;
  
  z-index: 999;
}

.custom-toggle.menu-toggle {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1052;
  background-color: var(--secondary-color);
}

.slide-menu {
  position: fixed;
  top: 60px;
 
  right: 0;
  bottom: 0;
  left: 0;
  background-color:var(--event-color) !important;
  z-index: 998;
  overflow-y: auto;
  padding: 80px 20px;
}

.calendar {
  
  position: fixed;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: brown;
  box-shadow: 5px 5px 4px var(--secondary-shadow);
  
  /* max-width: 20%; */
}
.react-calendar{
  
  font-family: inherit;
  border-radius: 0.25rem;
  border-color: black;
  border-width: 3px;
  /* width: 95%; */
  
}
@media (max-width: 1650px) {
 .react-calendar{
  width: 95%
 }
  .menu-toggle {
    display: none;
  }
  .slide-menu {
    display: none;
  }
}
@media (max-width: 420px) {
.react-calendar
{
  width: 100%;
}
}