.perfil__user-data{
    font-weight: 600;
    color: var(--link-color);
}
.perfil-avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
}
@media (min-width: 421px) and (max-width: 992px){
    .perfil-avatar{
        width:150px;
        height: 150px
    }
}
@media (max-width: 420px){
    .perfil-avatar{
        width:100px;
        height: 100px
    }
}