.perfil__user-data{
    font-weight: 600;
    color: var(--link-color);
}
.perfil-avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
}
.admin-text{
    font-weight: 600;
    color: var(--link-color);
    margin-bottom: 5px;
    flex-basis: 100%;
}
.green{
    color: green;
}
.red {
    color: red;
}
.botones-eventos{
    width: 100%;
    padding: 0 5px 10px 5px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    gap: 5px;
    justify-content: center;
}
@media (min-width: 421px) and (max-width: 992px){
    .perfil-avatar{
        width:150px;
        height: 150px
    }
}
@media (max-width: 520px){
    .perfil-avatar{
        width:100px;
        height: 100px
    }
}