.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.listado-border {
  position: fixed;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  top: 40px;
  z-index: 999;
  border: 5px solid black;
  padding: 1px;
  border-radius: 12px;
}
.listado-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  top: 40px;
  z-index: 1000;
  width: fit-content;
  color: var(--primary-color);
  text-align: center;
  border: 5px solid white;
  border-radius: 10px;
  background-color: var(--hover-color);
}
.listado-container:hover {
  filter: brightness(120%);
}
.listado-text {
  border: 2px solid var(--secondary-color);
  padding: 1px 10px;
  border-radius: 5px;
  font-weight: 700;
  margin: 0;
  font-size: 2.2vw;
}

.scroll-up {
  background-color: var(--event-color);
  padding: 8px;
  color: var(--hover-color);
  font-weight: 800;
  font-size: 3rem;
  position: fixed;
  bottom: 50px;
  right: 30px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  stroke-width: 1.2;
}
.scroll-up:hover {
  filter: contrast(2);
  cursor: pointer;
  transform: scale(1.1);
}
.scroll-up:active {
  filter: none;
  transform: none;
}

@media (max-width: 520px) {
  .scroll-up {
    stroke-width: 1.5;
    font-size: 2rem;
    bottom: 30px;
    right: 10px;
  }
  .listado-container {
    display: none;
    top: 20px;
  }
  .listado-container > h1 {
    font-size: 12px;
  }
  .listado-border {
    display: none;
  }
}

@media (min-width: 521px) and (max-width: 992px) {
  .listado-container {
    top: 35px;
  }
  .listado-border {
    top: 35px;
  }
  .listado-text {
    padding: 1px 5px;
    font-size: 2.1vw;
  }

  .scroll-up {
    font-size: 2.5rem;
  }
}
