.home-margin{
   
    padding-top: 25px;
    
}
.header-listado{
    position: sticky;
    margin: 0 auto;
    top: 25px;
    z-index: 1000;
    width: fit-content;
    
    text-align: center;
    border: 5px solid var(--event-color);
    
    border-radius: 10px;
    font-weight: 600;
    /* box-shadow: 2px 2px 4px var(--secondary-shadow); */
    background-color: var(--hover-color);
  }
  .black-border{
    border: 2px solid var(--secondary-color);
    padding: 1px 10px;
    border-radius: 5px;
  }
  .header-listado h1{
    font-weight: 700;
    margin: 0;
  }
  @media (max-width:420px) {
    .header-listado{
        left: 10%;
        width: 75%;
        margin: 0 auto;
        padding: 0;
        top: 60px;
        border: 0;
    }
    .header-listado h1{
       font-size: 1.4rem;
      }
      .header-listado p{
        font-size: .65rem;
        margin: 0;
      }
    
  }