.medios-contacto_items{
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}
.medios-contacto_items a{
    text-decoration: none;
    color: var(--link-color);
    font-size: 1rem;
}
.medios-contacto_title{
    font-size: 2rem;
}
.contactForm{
    margin-top: 5%;
    width: 100%;
}
@media (max-width:520px){
    .medios-contacto_title{
        font-size: 1.2rem;
    }
}