

.modal-backdrop {
    width: auto;
    height: inherit;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:1049;
  }
.modal-image{
    position: relative;
    height: 100%;
    width: fit-content;
    max-width: 100%;
    object-fit: contain;
    margin: 0;
    border: 10px solid var(--secondary-color);
}

.rrss-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    gap: 5px;
    height: fit-content;
    padding: 10px;
    margin: auto;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}
.rrss-container p{
    flex:none;
    width: 100%;
    text-align: center;
}
@media (max-width: 520px){
    .modal-image{
        border-width: 2px;
        height: fit-content;
    }
    .zoom-out{
        bottom: 7px;
        right: 7px;
    }
    .modal-backdrop{
        height: 100vh;
    }
    
}