
    .cardLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border: 2px solid var(--secondary-color);
        border-radius: 8px;
        box-shadow: 10px 10px 5px var(--secondary-shadow);
        padding: 30px;
        
        text-align: center;
        width: 50%;
        margin: 80px auto 0 auto;
        
        /* background-image: linear-gradient(to bottom, var(--primary-color), var(--hover-color)); */
       
        
        box-sizing: content-box;
      }
      .cardLogin {
        opacity: 0;
        transform: translateX(-100px);
        animation: appearCard 0.5s ease-in-out forwards;
      }
      .margin-link{
        margin-top: 5px;
        margin-bottom: 10px;
      }
      @keyframes appearCard {
        0% {
          opacity: 0;
          transform: translateX(-100px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      .inputLogin{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        font-size: large;
        text-align: center;
        background-color: var(--hover-color);
      }
    
      .div-inputLogin{
        width: 100%;
        height: 30px;
        margin-top: 7%;
       
      }
      .div-inputLogin label{
        width: 100%;
      }
      .margin-botonLogin{
        margin-top: 10%;
      }
    
  

  @media (max-width: 520px) {
    .cardLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
       
        background-color: #fff;
        border: 1px solid var(--secondary-color);
        border-radius: 8px;
        box-shadow: 10px 10px 5px  var(--secondary-shadow);
        padding: 20px;
        width: 70%;
        text-align: center;
   
        
        /* background-image:linear-gradient(to bottom, rgb(237 132 57), #fff); */
       
        
        box-sizing: content-box;
      }
      .cardLogin {
        opacity: 0;
        transform: translateX(-100px);
        animation: appearCard 0.5s ease-in-out forwards;
      }
      
      @keyframes appearCard {
        0% {
          opacity: 0;
          transform: translateX(-100px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      .inputLogin{
        
        height: 100%;
        border-radius: 10px;
        font-size: large;
        text-align: center;
      }
    
      .div-inputLogin{
        height: 30px;
        margin-top: 7%;
        
      }
      .margin-botonLogin{
        margin-top: 15%;
      }
      
  }

  @media (min-width: 421px) and (max-width: 720px){

  }