.header {
  background-color: var(--event-color);
  height: 60px;
  align-items: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--secondary-shadow)
}
.link:link {
  color: black;
  text-decoration-line: none;
}


.link:visited {
  color: black;
  text-decoration-line: none;
}

.link:hover {
  color: var(--hover-color);
  text-decoration-line: none;
}



.title img{
  width: 20%;
}
@font-face {
  font-family: "urban-jungle";
  src: url("./UrbanJungleDEMO.otf");
}

.title-font {
  font-family: "urban-jungle";
  font-size: 80px;
  color: var(--secondary-color)
}
.title-font:hover{
  color: var(--hover-color)
}
.title {
  margin-top: 0;
}

/* Estilos para pantallas extra pequeñas (xs) */
@media (min-width: 1px) and (max-width: 469.98px) {
  .header {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
  align-items: center  ;
    z-index:1000;
    /* height: 120px; */
  }

  .title {
    margin: 0px;
   width: 50%;
    
  }

 
}
.title-font {
  font-size: 10vw;
  margin-top: .5vh;
  margin-bottom: 0;

}

/* Estilos para pantallas pequeñas (s) */
@media (min-width: 470px) and (max-width: 852.98px) {
  .header {
    flex-direction: column;
    height: auto;
    height: 160px;
    z-index: 1000;
  }

  .title {
    margin-top: 0px;
    text-align: center;
  }

  .title-font {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

/* Estilos para pantallas medianas (m) */
@media (min-width: 853px) and (max-width: 991.98px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 160px;
    z-index: 1000;
  }
  .title-font {
    font-size: 50px;
  }
  .title {
    margin-top: 30px;
  }
 
}

/* Estilos para pantallas grandes (l) */
/* @media (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    height: 120px;
    
  }
  .title-font {
    font-size: 50px;
    width: max-content;
  }
  .title {
    margin-top: 30px;
  }
  .navbar {
    margin-bottom: 50px;
  }
} */
