

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 40px;
  border-bottom: 1px solid var(--secondary-shadow);
}

.title {
  width: 35px;
  margin-top: 0px;
}

.title img {
  width: 80%;
}

.link:hover {
  filter: contrast(150%);
  text-decoration-line: none;
}

@media (min-width: 992px) {
  .header {
    height: 60px;
    padding: 0 10px;
    justify-content: space-between;
  }

  .title {
    margin-top: 0;
    width: 50px;
  }
}
