.imagen-formulario{
    width:100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top:75px;
    transform: translateX(-50%);
}
.avatar{
    bottom: 30%
  }
  .edit__botons{
    display: flex;
    justify-content: center;
    gap: 10px
  }
