.imagen-formulario{
    width:100px;
    height: 100px;
    position: fixed;
    left: 37%;
    bottom: 12%
}
.avatar{
    bottom: 30%
  }
  .edit__botons{
    display: flex;
    gap: 10px
  }
@media (max-width: 420px){
    .imagen-formulario{
       
        left: 33%;
        
    }
}