.map-icon{
  
  
  color: var(--icon-color);
  filter: drop-shadow(2px 2px 2px var(--secondary-shadow));
}
h3 .map-icon{
  padding-bottom: 3px;
}
.map-icon__mapOnScreen{
  color: var(--hover-color)
}

.map-icon__active:hover{
  filter: brightness(2);
  filter: contrast(2);
  transform: scale(1.2);
    cursor:pointer;
    
    
  }