.map-icon{
  
  transform: scale(1.2);
  color: var(--icon-color);
  filter: drop-shadow(2px 2px 2px var(--secondary-shadow));
}
.map-icon__active{
  color: var(--hover-color)
}
.map-icon__active:hover{
  cursor:pointer;
}
.map-icon:hover{
  filter: brightness(2);
  filter: contrast(2);
  transform: scale(1.4);
    cursor:pointer;
    
    
  }