.footer-container {
  margin-top: 10px;
  text-align: center;
  z-index: 9999;
  display: inline;
  flex-direction: row;
 
  position: fixed;
  bottom: 0;
  width: 100%;

  border-top: 1px solid var(--secondary-shadow);
  background-color: var(--secondary-color);
  
}
.footer-link{
  position: relative;
    text-decoration: none;
    color: var(--hover-color);
    padding: 0 15px;
    
}
.border-left{
  
  position: absolute;
  left: 0;
  top: 55%; 
  width: 2px; 
  height: 50%; 
  background-color: var(--secondary-shadow); 
  transform: translateY(-50%);
  ;
}   




@media screen and (max-width: 520px) {
    .footer-container {
     
      font-size: 12px;
    }
    .footer-link {
      padding: 0 10px;
    }
   
  }

  