.eventos-list {
  display: grid;
  grid-template-columns: minmax(300px, auto) minmax(auto, 900px) minmax(300px, auto);
  padding: 30px 0;

  /* margin: auto; */
}
.div-buscador {
  position: relative;
  z-index: 1;
}
.div-calendario {
  display: flex;
  flex-direction: column;
}
.eventos {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  align-items: center;
  
}
@media (max-width: 420px) {
  .div-img {
    width: 100%;
  }
  .eventos-list {
    display: block;
    margin-right: 0;
    margin-top: 50px;
    margin-left: 0;
  }
  .eventos {
    margin-top: 0px;
    padding-top: 0;
  }
}

@media (min-width: 420px) and (max-width: 992px) {
  .eventos-list {
    grid-template-columns: minmax(200px, 300px) minmax(auto, 1270px);
  }
  .eventos {
    margin-top: 40px;
  }
}
