.eventos-list {
  display: grid;
  grid-template-columns: minmax(250px, auto) minmax(460px, 900px) minmax(300px, auto);
  padding: 30px 0;

  /* margin: auto; */
}
.div-buscador {
  position: relative;
  z-index: 1;
  padding-left: 15px;
}
.div-calendario {
  display: flex;
  flex-direction: column;
}
.eventos {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  align-items: center;
  
}
.resultados_busqueda{
  background-color: var(--primary-color);
  letter-spacing: 1px;
  font-weight: 600;
  padding: 5px;
  color: var(--hover-color);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
 opacity:1;
   width: auto;
   transition: opacity 0.5s ease-in-out;
  margin: 0 auto 10px auto;
  }
  .resultados_busqueda.hidden{
    opacity: 0;
  }
@media (max-width: 520px) {
  .div-img {
    width: 100%;
  }
  .eventos-list {
    display: block;
    margin-right: 0;
    margin-top: 50px;
    margin-left: 0;
  }
  .eventos {
    margin-top: 0px;
    padding-top: 0;
  }
  .div-buscador{
    padding-left: 0;
  }
  .resultados_busqueda{
    font-size: 12px;
  }
}

@media (min-width: 520px) and (max-width: 992px) {
  .eventos-list {
    grid-template-columns: minmax(200px, 300px) minmax(auto, 1270px);
  }
  .eventos {
    margin-top: 40px;
  }
}
