.eventos-list {
  display: grid;
  grid-template-columns: minmax(250px, 300px) minmax(550px, auto);
  padding: 60px 0;

  /* margin: auto; */
}
.div-buscador {
  position: relative;
  z-index: 1;
  padding-left: 15px;
}
.div-calendario {
  display: flex;
  flex-direction: column;
}
.eventos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding: 40px 15px;
  justify-content: center;
  align-items: center;
}
.resultados_busqueda {
  opacity: 1;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
 
  .span-resultado {
    display: block;
    width: fit-content;
    background-color: var(--primary-color);
    letter-spacing: 1px;
     margin: 0 auto 10px auto;
    font-weight: 600;
    padding: 5px;
    color: var(--hover-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
  }
}

.resultados_busqueda.hidden {
  opacity: 0;
}
@keyframes moveRightToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.point-icon {
  background-image: url("../../../public/assets/hand-icon.gif");
  position: fixed;

  left: 50px;
  top: 15px;
  z-index: 1000;

  width: 31px;
  height: 20px;
  animation: moveRightToLeft 2s infinite;
}

@media (max-width: 520px) {
  .div-img {
    width: 100%;
  }
  .eventos-list {
    display: block;
    margin-right: 0;
    margin-top: 50px;
    margin-left: 0;
  }
  .eventos {
    margin-top: 0px;
    padding-top: 0;
  }
  .div-buscador {
    padding-left: 0;
  }
  .resultados_busqueda {
    font-size: 12px;
  }
  .point-icon {
    top: 7px;
    left: 40px;
    transform: scale(0.8);
  }
}

@media (min-width: 520px) and (max-width: 991px) {
  .eventos-list {
    grid-template-columns: minmax(200px, 300px) minmax(auto, 1270px);
  }
  .eventos {
    margin-top: 40px;
  }
}
