.estilo-modal {
  background-color:  #fff;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: 5px 5px 5px var(--secondary-shadow);
}

.custom-header {
    border-bottom: 2px solid var(--secondary-color);
    justify-content: center;
  }
  
  .custom-title {
    text-align: center;
  }
  
.modal-body {
  border-bottom: 2px solid var(--secondary-color);
}
