.detalles-container {
  display: grid;
  grid-template-columns: minmax(auto, 70%) minmax(300px, auto);
}

.cardDetEv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: 10px 10px 5px var(--secondary-shadow);
  padding: 20px 10px;

  text-align: center;
  width: 70%;
  margin-top: 80px;

  /* margin-left: 2.5%;
  margin-right: 2.5%; */
  /* background-image: linear-gradient(to bottom, rgb(237 132 57), #fff); */
}
.cardDetEv {
  opacity: 0;
  transform: translateX(-100px);
  animation: appearCard 0.5s ease-in-out forwards;
}
.image-and-details-container {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  justify-content: center;
  gap: 20px;
}
.map-wrapper-detalle {
  width: 90%;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
  background-color: #fff;
}
.detalles-info {
  height: 100%;
  max-width: 50%;
}
.detalle-comentarios {
  margin-top: 80px;
  position: relative;
  margin-right: 5%;
}
.comentarioslist-wrapper {
  display: flex;
  justify-content: center;
}
.evento-botonesAdmin {
  display: flex;
  gap: 10px;
}
@keyframes appearCard {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.youtube-video-container {
  /* border: 2px solid black; */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 50%;
  padding-top: 34.72%; /* Ratio 16:9 (100%/16*9 = 56.25%) */
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
}

.detalles_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.boleto_precio {
  display: flex;
  transition: drop-shadow 0.3s; /* Agrega una transición suave para el efecto de brillo */
}
img.boleto_imagen {
  border: none !important;
  box-shadow: none !important;
}
.boleto_imagen {
  transition: filter 0.3s;
  height: min-content;
  padding-top: 3px;
}
.muestra-fecha {
  position: relative;
 
  gap: 5px;
  margin: 0;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* text-align: right; */
}
.muestra-fecha h3 {
  margin: 0 5px;
}
.boleto_imagen:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 7px rgba(241, 103, 4, 0.7));
  /* filter: url(#brillo_personalizado); */
}
.cardDetEv h1 {
  color: var(--secondary-color);
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.cardDetEv h2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2vw;

  margin-bottom: 45px;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  transition: text-shadow 0.3s ease-in-out;
}
.cardDetEv h3 {
  display: flex;
  gap: 20px;
  position: relative;
  font-size: calc(1.2rem + 0.4vw);
  align-items: center;
}

.cardDetEv p {
  font-size: calc(0.8rem + 0.4vw);
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

.cardDetEv img {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  border-radius: 10px;
  max-height: 50vh;
  object-fit: cover;
  max-width: 100%;
}

/* Estilo específico para el contenedor del mapa en DetallesEvento */
.cardDetEv .map-container {
  max-width: 500px;
  width: 90%;
  margin: 20px auto;
}

.image-container {
  height: fit-content;
  width: fit-content;
  max-width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-icons-container {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.zoom-icon {
  font-size: 1.5rem;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  filter: drop-shadow(0px 0px 3px #000);
  opacity: 0.8;
}
.zoom-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.zoom-out {
  bottom: 10px;
  right: 10px;
}
.cardDetEv a {
  text-decoration: none;
  color: black;
}

.cardDetEv a:hover {
  text-decoration: underline;
}

.cardDetEv a:visited {
  text-decoration: none;
  color: black;
}

.border-cardDetEv {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 200px;
}

.divCardDetEv {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  flex-direction: column;
}
.divCardDetEv__noimage {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
  min-height: 25vh;
  background-image: url("../../../public/assets/no-image.jpg");
  background-position: center;
  background-size: contain;
}
.nuevocomentario-wrapper {
  position: sticky;
  top: 80px;
}

.centerDetEv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}
.evento_contenido {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 20px;
  background-color: var(--hover-color);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.favorito-detalle {
  transform: none;

  display: flex;
}
.compartir-detalle {
  transform: none;
  display: flex;
  align-items: center;
}
.unavailiable {
  color: var(--terciary-color);
  opacity: 0.4;
}
.unavailiable:hover {
  cursor: auto;
  filter: none;
}
@media (min-width: 590px) and (max-width: 1040px) {
  .detalles-container {
    grid-template-columns: minmax(auto, 70%) minmax(250px, auto);
  }
  .cardDetEv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 10px 10px 5px var(--secondary-shadow);
    padding: 20px 0px;

    text-align: center;
    width: 90%;
    margin-top: 80px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* background-image: linear-gradient(to bottom, rgb(237 132 57), #fff); */
    border: solid black;
  }
  .nuevocomentario-wrapper {
    position: sticky;
    top: 80px;
  }
  .margin-boton-info {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .evento-botonesAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divCardDetEv {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
  }
  .cardDetEv h3 {
    gap: 5px;
    width: 100%;
    font-size: calc(1rem - 0.3vw);
  }
  .cardDetEv h2 {
    font-size: 2.5vw;
  }
  .cardDetEv h1 {
    font-size: 3vw;
  }
  .blue-text {
    flex-direction: row !important;
  }
}

@media (max-width: 589px) {
  .map-wrapper-detalle {
    width: 95%;
    margin: 15px auto;
  }

  .detalles-container {
    display: flex;
    flex-direction: column;
  }
  .detalle-comentarios {
    margin: 0 5% 50px 5%;
  }
  .image-and-details-container {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .cardDetEv h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 1%;
    text-align: center;
  }
  .cardDetEv h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .cardDetEv h3 {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: calc(0.8rem + 0.9vw);
    margin-bottom: 5px;
  }
  .cardDetEv {
    padding: 20px 10px 10px 10px;
    margin-bottom: 10%;
    width: 100%;
    margin-top: 55px;
    gap: 1px;
  }
  .detalles-info {
    max-width: 100%;
  }

  .cardDetEv p {
    font-size: calc(0.7rem + 0.4vw);
  }
  .nuevocomentario-wrapper {
    position: relative;
    top: 0;
  }
  .margin-boton-info {
    margin: 0;
  }
  .evento-botonesAdmin {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .divCardDetEv {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  img.boleto_imagen {
    width: 75%;
  }
  .detalles_item {
    gap: 5px;
  }
  .evento_contenido {
    margin: 10px 5px;
  }
  .evento_contenido p {
    font-size: 0.7rem;
  }
  .muestra-fecha {
    gap: 5px;
    
    justify-content: center;
  }
  h3 {
    font-size: calc(0.8rem + 0.9vw);
  }
  .dias-faltantes__detalle {
    width: 100%;
  }
  .youtube-video-container {
    padding-top: 55.55%;
    max-width: 100%;
  }
  .image-container {
    height: fit-content;
    max-width: 100%;
    margin: 0 auto;
  }
  .zoom-icon {
    font-size: 1.1rem;
  }
  h3 .map-icon {
    padding-bottom: 2px;
  }
  .blue-text {
    flex-direction: row !important;
  }
}
