:root {
    --primary-color: #ed8439;
    --secondary-color: #153243;
    --secondary-shadow: #153243ab;
    --terciary-color: #757575;
    --link-color: #0d2f7a;
    --icon-color: #124ec6;
    --event-color: #f16704;
    --hover-color: #f0e9e9;
    --text-color: #212529;
    --soldout-color:#f16704cd;
    --delayed-color:#124ec6cd;
    --cancelled-color:#f52a2acd;
    --new_date-color:#16b616cd;
    --data_label-color: #124ec6;
    --margin-right: auto;

    
  }
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/fondo_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    z-index: -1;
  }
  html{
    scroll-behavior: smooth;
  }
  