.nuevo-comentario{
    border-style: solid;
    background-color: white;
   margin: 0 auto;
   width: fit-content;
    border-radius: 10px;
    max-width: 300px;
  
}
.nuevo-comentario label{
    font-weight: 600;
}
.TitVal-container{
    display: flex;
    justify-content: center;
    
}
.tit{
    margin-right: 10px;
    margin-left: 3%;
}
.val{
    align-self: flex-end;
}
.content{
    width:95%;
    height: 60px;
    margin-right: 2%;
    margin-left: 3%;
    border-radius: 8px;
    border:solid 1px
}

.labelCont{
    margin-left: 3%;
}
.divBoton{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.inputVal{
    /* margin-left:1%; */
    border-radius: 5px;
    margin-bottom: 2%;
    border:solid 1px;
    height:40%;
    text-align: center;
    font-size: .8rem;
}
.inputTit{
    /* margin-left:1%; */
   border-radius: 5px;
    margin-bottom: 2%;
    border:solid 1px;
    width:90%;
    height:40%;
    font-size: .8rem;
}
.h2NC{
    border-bottom: 1px solid var(--secondary-color);
    margin: 0;
    padding: 0 10px 3px 10px;
    text-align: center;
    font-size: 1.8vw;
   
    border-top: 1px solid var(--secondary-color);
}
h2 [class^="edit"]:hover{
    cursor: pointer;
   filter:  contrast(150%) brightness(150%);
   transform: scale(1.1);
   
}
.edit_close{
   color: var(--icon-color)
   
}

@media (max-width:720px){
    .TitVal-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .tit{
        margin-bottom: 2px;
    }
    .divBoton{
        margin-bottom: 3px;
        display: flex;
        justify-content: center;
    }
    .nuevo-comentario{
        border-style: solid;
        background-color: white;
       
        margin: 0 auto;
        
    }
    .val{
        align-self: flex-start;
        display: flex;
        gap: 5px
    }
    .h2NC{
        font-size: 3.5vw;
        padding-bottom: 0;
    }
}
