.nuevo-comentario{
    border-style: solid;
    background-color: white;
    /* width:75%; */
    margin: 0 auto;
    border-radius: 10px;
  
}
.nuevo-comentario label{
    font-weight: 600;
}
.displayFlex{
    display: flex;
    justify-content: center;
    
}
.tit{
    margin-right: 10px;
    margin-left: 3%;
}
.content{
    width:90%;
    height: 60px;
    margin-right: 2%;
    margin-left: 3%;
    
    border:solid 1px
}

.labelCont{
    margin-left: 3%;
}
.divBoton{
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}
.inputVal{
    margin-left:1%;
    
    margin-bottom: 2%;
    border:solid 1px;
    height:40%
}
.inputTit{
    /* margin-left:1%; */
   
    margin-bottom: 2%;
    border:solid 1px;
    width:90%;
    height:40%
}
.h2NC{
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width:720px){
    .displayFlex{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .tit{
        margin-bottom: 2px;
    }
    .divBoton{
        margin-bottom: 3px;
        display: flex;
        justify-content: center;
    }
    .nuevo-comentario{
        border-style: solid;
        background-color: white;
       
        margin: 0 auto;
        border-radius: 10px;
    }
}
