.perfil-container{
    width: 40%;
    margin: 15% auto;

}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:999;
  }
.close-icon{
    position: fixed;
    right: 5px;
    top: 5px;
    transform: scale(1.5);
}
.close-icon:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.perfil-avatar{
    width: 40%;
    margin: 0 auto 15px;
}
@media (min-width: 1px) and (max-width: 469.98px) {
.perfil-container{
    width: 80%;
    margin-top:160px;
}
}