.perfil-container{
    width: 40%;
    margin: 15% auto;

}
.close-icon{
    position: fixed;
    right: 5px;
    top: 5px;
    transform: scale(1.5);
}
.close-icon:hover{
    color: azure;
    cursor: pointer;
}
.perfil-avatar{
    width: 40%;
    margin: 0 auto 15px;
}
@media (min-width: 1px) and (max-width: 469.98px) {
.perfil-container{
    width: 80%;
    margin-top:160px;
}
}