.cardFaq-container {
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: 10px 10px 5px var(--secondary-shadow);
  margin-top: 80px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  /* background-image: linear-gradient(to bottom, var(--primary-color), var(--hover-color)); */
  position: relative;
}
.cardFaq-container h1 {
  margin: 0 auto 20px auto;
}
.cardFaq {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  

  padding: 20px 5% 40px 5%;
  margin-bottom: 20px;

  box-sizing: content-box;
}
.faq-titulo{
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.faq-contenido{
    font-weight: 600;
    background-color: var(--hover-color);
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid var(--secondary-shadow);
    box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5), inset 0px 0 3px rgba(0, 0, 0, 0.5); /* Sombra interna */
}
.faq-infoContainer{
    position: relative;
}
.faq-infoInner{
    position: absolute;
    color: white;
    left: 4px;
    bottom: 1px;
    font-size: 1.3rem;
}
.faq-favIcon{
    color: var(--icon-color);
}
.faq-infoIcon{
        color: var(--icon-color);
        font-size: 1.3rem;
        margin-left: 4px;
        align-self: center;
}

@media (max-width:420px){
    .cardFaq-container {
        margin: 50px auto 20px auto;
        width:90%
}
.faq-titulo{
    font-size: .8rem;
    font-weight: 600;
}
.faq-infoInner{
    bottom: 0
}

}